<div class="header-container">
    
    <div class="banner-container">
      <img src="../../assets/banner_panel.png" alt="Banner" class="banner">
    </div>

    <div class="user-info">
      <div class="email">
        <span id="ventana">{{ windowName }}</span>
        <span id="nombre">Bienvenid@, {{userName}}</span>
      </div>
      <div class="input">
        <!--<mat-form-field class="filter-input">
        <input matInput placeholder="Filtrar">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>-->
      </div>
    </div>
</div>
  
