.header-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    position: relative;
}

.user-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        height: 115px;
        margin-bottom: 35px;
        margin-top: 15px;
}
.banner {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}
.banner img{
    
    width: 100%;
    height: auto; /* Mantendrá la proporción de la imagen */
    display: block; 
}
.input mat-form-field{
    margin-top: 25px;
    height: 108x;
}