<!-- dialog.component.html -->

<div class="dialog-content">
    <h2 mat-dialog-title>Nuevo Sector</h2>
  
   <!-- <div class="content-input">
      <label for="nombresInput">Nombres: </label>
      <input type="text" id="nombresInput" [(ngModel)]="nombres" name="nombresInput" required />
    </div>-->
    <div class="map-input">
      <label for="Sector-Input">Ubicacion: </label>
      <div #mapElement style="height: 400px;"></div>
    </div>
  
    <!-- <mat-dialog-actions class="custom-dialog-actions">
     <button class="custom-button" (click)="onMapClose()">Cancelar</button>
    </mat-dialog-actions>-->
  </div>
  