<div class=" root-container">

    <!--<div class="filtros-root" >
     
        <div class="datepicker-container" >
        <mat-form-field appearance="fill">
            <mat-label>escoge una fecha</mat-label>
            <input placeholder="Escoge una fecha" matInput [matDatepicker]="picker">
          
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
      
    </div>-->

    <div class="notificaciones-root">

          <div id="card-configuracion"  class="verif" (click)="navegarToVerificaciones()">
            <img class="img-config" src="../../../assets/icon01.png" alt="verificacion">
            
            </div>    
            <div id="card-configuracion"  class="sector" (click)="navegarToSectores()">
            <img class="img-config" src="../../../assets/icon02.png" alt="sector">
            
            </div>  
            <div id="card-configuracion" class="noti" (click)="navegarToNotificaciones()">
           <img class="img-config" src="../../../assets/icon03.png" alt="notificacion">
           
            </div>  
            <div id="card-configuracion" class="vehi" (click)="navegarToVehiculos()">
            <img class="img-config" src="../../../assets/icon04.png" alt="vehiculo">
           
            </div>  
            <div id="card-configuracion"  class="bran" (click)="navegarToBrandeo()">
            <img class="img-config" src="../../../assets/icon05.png" alt="brandeo">
            
            </div>
    
    </div>
</div>
