<div class="dialog-content">
    <h2 mat-dialog-title>Registro nuevo Conductor</h2>

      <div class="floating-input">
        <label for="ciInput">C.I.:</label>
        <input type="text" id="ciInput" [(ngModel)]="cedula" name="ciInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageCedula }}</p>
      </div>
      <div class="floating-input">
        <label for="nombresInput">Nombres: </label>
        <input type="text" id="nombresInput" [(ngModel)]="nombres" name="nombresInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageNombre }}</p>
      </div>
      <div class="floating-input">
        <label for="apellidosInput">Apellidos: </label>
        <input type="text" id="apellidosInput" [(ngModel)]="apellidos" name="apellidosInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageApellido }}</p>
      </div>
      <div class="floating-input" id="fecha">
        <label for="fnaciminetoInput">Fecha de Nacimineto: </label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechanacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!--- <input type="text" id="fnaciminetoInput" [(ngModel)]="fechanacimiento" name="fnaciminetoInput" required /> -->
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageFecha }}</p>
      </div>
      <div class="floating-input">
        <label for="emailInput">Email: </label>
        <input type="text" id="emailInput" [(ngModel)]="email" name="emailInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageEmail }}</p>
      </div>
      <div class="floating-input">
        <label for="contraseniaInput">Contraseña: </label>
        <input type="password" id="contraseniaInput" [(ngModel)]="contrasenia" name="contraseniaInput" #contraseniaInput required />
        <i (click)="togglePasswordVisibility(contraseniaInput)" class="bi-xs {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i> 
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageContrasenia }}</p>
      </div>
      <div class="floating-input">
        <label for="ccontraseniaInput">Confirmar Contraseña: </label>
        <input type="password" id="ccontraseniaInput" [(ngModel)]="ccontrasenia" name="ccontraseniaInput" #ccontraseniaInput required />
        <i (click)="togglePasswordVisibility(ccontraseniaInput)" class="bi-xs {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i> 
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageCContrasenia }}</p>
      </div>
      <div class="floating-input">
        <label for="telefonoInput">Teléfono: </label>
        <input type="text" id="telefonoInput" [(ngModel)]="telefono" name="telefonoInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageTelefono }}</p>
      </div>
      <div class="floating-input">
        <label for="sexoInput">Sexo: </label>
        <!--<input type="text" id="sexoInput" [(ngModel)]="sexo" name="sexoInput" />-->
        <mat-select [(ngModel)]="sexo" name="sexoInput">
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
          </mat-select>
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageSexo }}</p>
      </div>
      <div class="floating-input">
        <label for="empresaInput">Empresa: </label>
        <!--<input type="text" id="empresaInput" [(ngModel)]="empresa" name="empresaInput" required />-->
        <mat-select id="empresaSelect" [(ngModel)]="empresa" name="empresaSelect">
            <mat-option *ngFor="let empresa of empresadata" [value]="empresa.nombre">
              {{ empresa.nombre }}
            </mat-option>
          </mat-select>
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageEmpresa }}</p>
      </div> 
    <mat-dialog-actions class="custom-dialog-actions">
        <button class="custom-button"(click)="close()">Cancelar</button>
        <button class="custom-button"(click)="save()">Registrar</button>
    </mat-dialog-actions>
    <div class="error-container">
        <p id="errorMessage">{{ errorMessageGeneral }}</p>
      </div> 
</div>