body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../assets/back_principal.jpg');
  background-size: 100% 100%;
}


.logo {
  width: 100px;
  height: auto;
}

.logincent {
  align-self: center;
  align-items: center;
  text-align: center; 
  padding: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c8c5c59c;
  width: 450px;
  height: 390px;
  padding: 10px;
  border-radius: 33px;
  border: 2px solid #fff;

}
/*
.form-group {
  margin: 10px 10px;
  margin-left: 25px;
}

.login-container .input-user {
  margin-bottom: 20px;
  width: 200px;
  height: 29px;
  margin-left: 25px;
  margin-right: 17px;
}

.login-container .input-password {
  margin-bottom: 20px;
  width: 200px;
  height: 29px;
  margin-left: 21px;
  margin-right: 10px;
}

*/
.button-login {
  background-color: #e1f134;
  color: #000;
  border-radius: 10px;
  border: none;
  padding: 10px 150px;
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#errorMessage {
  color: red;
  font-size: 12px;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.floating-input {
  position: relative;
}

.floating-input i {
  position: absolute;
  left: 10px;
  margin-top: 25px;
  transform: translateY(-50%);
}

.input {
  font-size: 16px;
  padding: 10px 30px; 
  display: block;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #000;
  margin: 10px 0;
}
.input::placeholder {
  color: #000;
}

.bi-xs {
  margin-left: 300px;
}
.opciones {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.checkbox-input {
  transform: scale(0.8);
  margin-right: 5px;
}


.forgot-password {
  font-size: 12px; 
  font-style: italic;
  margin-left: 120px;
}
