<div class="dialog-content">
    <h2 mat-dialog-title>{{ data.titulo }}</h2>

      <div class="floating-input">
        <label for="marcaInput">Marca:</label>
        <mat-select [(ngModel)]="id_marca" id="marcaInput" name="marcaInput" required>
          <mat-option *ngFor="let marca of dataMarcas" [value]="marca.id_marca">
            {{ marca.nombre }}
          </mat-option>
        </mat-select>
      </div>

      <div class="error-container">
        <p id="errorMessage">{{ errorMessageMarca }}</p>
      </div>
      <div class="floating-input">
        <label for="modeloInput">Modelo: {{ data.nombre }}</label>
        <input type="text" id="modeloInput" [(ngModel)]="nombre" name="modeloInput" required />
      </div>
      <div class="error-container">
        <p id="errorMessage">{{ errorMessageNombre }}</p>
      </div>

    <mat-dialog-actions class="custom-dialog-actions">
        <button class="custom-button"(click)="close()">Cancelar</button>
        <button class="custom-button"(click)="save()">Registrar</button>
    </mat-dialog-actions>
    <div class="error-container">
        <p id="errorMessage">{{ errorMessageGeneral }}</p>
      </div> 
</div>