<div class="notificacion-root">

    <div id="card-config"  class="automaticas">
      <img class="img-config" src="../../../assets/icon06.png" alt="automaticas">
      
      </div>    
      <div id="card-config"  class="personalizar" (click)="navegarToNotificacion2()">
      <img class="img-config" src="../../../assets/icon03.png" alt="personalizar">
      
      </div>  
      <div id="card-config" class="historial">
     <img class="img-config" src="../../../assets/icon07.png" alt="historial">

</div>