<div class="vehiculoconfig-root">

    <div id="card-config"  class="modelos" (click)="navegarToModelos()">
      <img class="img-config" src="../../../assets/vehiculo-config.png" alt="Modelos">
      <span class="holderMod"><h1><b>Modelos</b></h1></span> 
    </div>

    <div id="card-config"  class="marcas" (click)="navegarToMarcas()">
      <img class="img-config" src="../../../assets/vehiculo-config.png" alt="Marcas">
      <span class="holderMar"><h1><b>Marcas</b></h1></span>
    </div>
    
</div>