/* paginador.component.css */
.paginador {
    width: 97%;
    background-color: #F0F8F0; /* Fondo blanco */
  }
  
  .paginador-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinear contenido en ambos extremos */
    padding: 1rem; /* Añadir espacio alrededor del contenido */
  }
  
  .paginador-text {
    margin-right: auto;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  
  .page-item {
    margin: 0;
    padding: 0;
    
  }
  .page-link-index {
    margin: 0;
    padding: 0;
    color:black;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: inherit;
  
  }
  
  .page-link {
    color:black;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: inherit;
  
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .page-link:hover {
    text-decoration: none;
  }
  
  